/* base styles, feel free to edit */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
}

.hide {
  display: none;
}
.avatar-profile-edit {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #ddd;
}
.current-user-name:hover {
  cursor: pointer;
  transition: text-shadow 0.3s ease;
  text-shadow: 0 0 3px rgba(0,0,0,0.2);
}